<section
  class="LandingSection bg-black h-screen w-screen text-center relative overflow-hidden"
  data-header-color="black"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-black pt-24 text-[40px] font-semibold">Model Y</h2>
      <a href="#" class="text-black text-sm underline">
        Agenda una demostración de manejo
      </a>
    </header>

    <footer
      class="flex flex-grow flex-nowrap justify-end flex-col pb-20 text-sm"
    >
      <div class="gap-x-6 flex mx-auto">
        <a
          class="bg-white backdrop-blur-sm text-sm rounded font-medium px-10 py-2 text-black hover:bg-black hover:text-white inline-flex justify-center items-center transition-colors"
          href=""
        >
          Explorar el inventario</a
        >
        <a
          class="border-[3px] border-gray-500 hover:border-black bg-gray-500 text-sm rounded font-medium px-10 py-2 inline-block text-white hover:bg-black hover:text-white transition-colors"
          href=""
        >
          Orden personalizada</a
        >
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img
      src="/Model-y.avif"
      alt="Model Y"
      class="h-full w-full object-cover object-center"
    />
  </div>
</section>
