<section
  class="bg-black h-screen w-screen text-center relative overflow-hidden"
  data-header-color="white"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-white pt-24 text-[40px] font-semibold">
        Vive la experiencia Tesla
      </h2>
      <p class="text-white text-sm">Agenda una demostración de manejo hoy</p>
    </header>

    <footer
      class="flex flex-grow flex-nowrap justify-end flex-col pb-20 text-sm"
    >
      <div>
        <a
          class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium px-10 py-2 inline-block text-white hover:bg-white hover:text-black transition-colors"
          href=""
        >
          Demostracion de manejo</a
        >
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <video
      class="object-center object-cover"
      autoplay
      muted
      loop
      src="/Video.webm"></video>
  </div>
</section>
